description "warcprox"

start on runlevel [2345]
stop on runlevel [!2345]

env PYTHONPATH={{venv_root}}/warcprox-ve34/lib/python3.4/site-packages
env PATH={{venv_root}}/warcprox-ve34/bin:/usr/bin:/bin

# by default warcprox creates some files/dirs relative to cwd
chdir {{work_dir}}
setuid {{user}}

console log

# --profile
exec nice warcprox \
         --address=0.0.0.0 \
         --dir={{warcs_dir}} \
         --base32 \
         --gzip \
         --rollover-idle-time=180 \
         --onion-tor-socks-proxy=localhost:9050 \
         --rethinkdb-servers={{groups['rethinkdb']|join(',')}} \
         --rethinkdb-db=brozzler \
         --rethinkdb-big-table
