argparse
PyYAML
git+https://github.com/nlevitt/surt.git@py3
# youtube_dl
git+https://github.com/nlevitt/youtube-dl.git@brozzler
git+https://github.com/seomoz/reppy.git
requests
# websocket-client
git+https://github.com/nlevitt/websocket-client.git@tweaks
rethinkdb
