# based on current ait production venv and piptools compile output for Python 3.8.18
brotli==1.0.9
    # via yt-dlp
cerberus==1.3.4
    # via brozzler (setup.py)
certifi==2021.10.8 # piptools 2023.11.17
    # via
    #   requests
    #   yt-dlp
cffi==1.15.0
    # via cryptography
charset-normalizer==2.0.12 # piptools 3.3.2
    # via requests
cryptography==37.0.1 # piptools 41.0.7
    # via brozzler (setup.py)
doublethink @ git+https://github.com/internetarchive/doublethink.git@Py311
    # via brozzler (setup.py)
idna==3.3
    # via
    #   requests
    #   urlcanon
jinja2==3.1.2
    # via brozzler (setup.py)
markupsafe==2.1.1
    # via jinja2
mutagen==1.45.1
    # via yt-dlp
pillow==9.1.0 # piptools 10.1.0
    # via brozzler (setup.py)
publicsuffix==1.1.1
    # via url
pycparser==2.21
    # via cffi
pycryptodomex==3.14.1
    # via yt-dlp
python-dateutil==2.8.2
    # via reppy
python-magic==0.4.25
    # via brozzler (setup.py)
pyyaml==6.0.1
    # via brozzler (setup.py)
reppy==0.3.4
    # via brozzler (setup.py)
requests==2.31.0
    # via
    #   brozzler (setup.py)
    #   reppy
rethinkdb==2.4.9
    # via
    #   brozzler (setup.py)
    #   doublethink
six==1.16.0
    # via
    #   python-dateutil
    #   rethinkdb
    #   websocket-client
url==0.1.7
    # via reppy
urlcanon==0.3.1
    # via brozzler (setup.py)
urllib3==2.1.0
    # via requests
websocket-client==0.48.0
    # via brozzler (setup.py)
websockets==10.3 # piptools 12.0
    # via yt-dlp
yt-dlp==2023.10.13
    # via brozzler (setup.py)
