description "pywb"

start on runlevel [2345]
stop on runlevel [!2345]

env PYWB_CONFIG_FILE=/etc/pywb.yml

setuid {{user}}

console log

exec nice {{venv_root}}/pywb-ve3/bin/python {{venv_root}}/pywb-ve3/bin/brozzler-wayback
