description "pywb"

start on runlevel [2345]
stop on runlevel [!2345]

env PYTHONPATH={{venv_root}}/pywb-ve34/lib/python3.4/site-packages
env PATH={{venv_root}}/pywb-ve34/bin:/usr/bin:/bin
env PYWB_CONFIG_FILE=/etc/pywb.yml

setuid {{user}}

console log

exec nice {{venv_root}}/pywb-ve34/bin/brozzler-wayback
