archive_paths: {{warcs_dir}}/  # pywb will fail without a trailing slash
collections:
  brozzler:
    index_paths: !!python/object:brozzler.pywb.RethinkCDXSource
      db: brozzler
      table: captures
      servers:
{% for node in groups['rethinkdb'] %}
      - {{node}}
{% endfor %}
enable_auto_colls: false
enable_cdx_api: true
framed_replay: true
port: 8880

