<!doctype html>
<html lang="en" ng-app="brozzlerConsoleApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brozzler Console: Jobs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css">
    <style>
      body {
        padding-top: 70px;
        padding-bottom: 30px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="controllers.js"></script>
  </head>

  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Brozzler Console</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Jobs</a></li>
            <li><a href="/workers">Workers</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" role="main">
      <div ng-controller="JobsAppController">
        <div class="page-header">
          <h1>Jobs</h1>
        </div>

        <div class="row">

          <div class="col-sm-6" ng-repeat="job in jobs">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Job {{job.id}}: {{job.status}}</h3>
              </div>
              <div class="panel-body">
                <h4> Seeds </h4>
                <ul>
                  <li ng-repeat="seed in job.conf.seeds"> {{seed.url}} </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    </body>
    </html>
