description "brozzler-dashboard"

start on runlevel [2345]
stop on runlevel [!2345]

env PYTHONPATH={{venv_root}}/brozzler-dashboard-ve34/lib/python3.4/site-packages
env PATH={{venv_root}}/brozzler-dashboard-ve34/bin:/usr/bin:/bin
env LC_ALL=C.UTF-8

env WAYBACK_BASEURL=http://{{groups['pywb'][0]}}:8880/brozzler
env RETHINKDB_SERVERS={{groups['rethinkdb'] | join(',')}}
env RETHINKDB_DB=brozzler

setuid {{user}}

console log

exec {{venv_root}}/brozzler-dashboard-ve34/bin/gunicorn --bind=0.0.0.0:8881 brozzler.dashboard:app
