description "pywb"

start on runlevel [2345]
stop on runlevel [!2345]

env PYTHONPATH=/home/vagrant/pywb-ve34/lib/python3.4/site-packages
env PATH=/home/vagrant/pywb-ve34/bin:/usr/bin:/bin
env PYWB_CONFIG_FILE=/etc/pywb.yml

setuid vagrant

# console log

exec nice brozzler-wayback >>/vagrant/logs/pywb.log 2>&1
