description "brozzler-worker"

start on runlevel [2345]
stop on runlevel [!2345]

env DISPLAY=:1
env PATH={{venv_root}}/brozzler-ve34/bin:/usr/bin:/bin
env PYTHONPATH={{venv_root}}/brozzler-ve34/lib/python3.4/site-packages
env LANG=C.UTF-8

setuid {{user}}

console log

# depends on vnc server
start on started Xvnc
stop on stopping Xvnc

kill timeout 60

exec nice brozzler-worker \
    --rethinkdb-servers={{groups['rethinkdb'] | join(',')}} \
    --max-browsers=4 \
    --warcprox-auto
