#!/bin/bash

cd /tmp

logfile=/var/log/Xvnc.log
touch $logfile
chown {{user}} $logfile

exec nice setuidgid {{user}} Xvnc :1 -auth /tmp/Xauthority.{{user}} \
    -geometry 1600x1000 -depth 24 -nolisten tcp -rfbport 5901 \
    -SecurityTypes None -pn -fp /usr/share/fonts/X11/misc/ \
    AcceptCutText=0 AcceptPointerEvents=0 AcceptKeyEvents=0 \
    >> $logfile 2>&1

