{% extends "layout.html" %}
{% block title %} Jobs {% endblock %}

{% block body %}
  <div class="page-header">
    <h1>Jobs</h1>
  </div>
  <div class="row">
    {% for job in jobs %}
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Job {{job.id}}: {{job.status}}</h3>
          </div>
          <div class="panel-body">
            <h4> Seeds </h4>
            <ul>
            {% for seed in job.conf.seeds %}
              <li> {{seed.url}} </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
